.one
{

    margin-left:600px;
    width:600px;
    height:600px;   
}

.two
{
    margin-top: 20px;
    background-color: aqua;
    position: absolute;
    padding-top: 80px;
}

.three
{
    position:relative;
}